In [22]:
import sys
import os
sys.path.append('/workspace')

# 경로 확인
print("현재 작업 디렉토리:", os.getcwd())
print("Python path:", sys.path[:3])  # 처음 3개만

# 파일 존재 확인
print("\nsrc 디렉토리 내용:")
print(os.listdir('/workspace/src'))

print("\nsrc/data 디렉토리 내용:")
print(os.listdir('/workspace/src/data'))

print("\nsrc/utils 디렉토리 내용:")
print(os.listdir('/workspace/src/utils'))

# 파일별로 import 테스트
try:
    from src.utils.utils import notebooks_dir
    print("✅ utils import 성공")
except ImportError as e:
    print(f"❌ utils import 실패: {e}")

try:
    from src.data.s3_call import get_s3_data
    print("✅ s3_call import 성공")
except ImportError as e:
    print(f"❌ s3_call import 실패: {e}")

현재 작업 디렉토리: /app/notebooks
Python path: ['/usr/local/lib/python311.zip', '/usr/local/lib/python3.11', '/usr/local/lib/python3.11/lib-dynload']

src 디렉토리 내용:

FileNotFoundError: [Errno 2] No such file or directory: '/workspace/src'

In [23]:
import sys
sys.path.append('/app')


import numpy as np
import pandas as pd
from src.utils.utils import notebooks_dir
from src.data.s3_pull import get_s3_data

In [24]:
weather_hourly = pd.read_csv(f"{notebooks_dir()}/weather_hourly.csv", encoding='utf-8')
pm10_data = pd.read_csv(f"{notebooks_dir()}/pm10_data.csv", encoding='utf-8')

In [25]:
weather_hourly

,Date,Time,TM,STN,WD,WS,GST_WD,GST_WS,GST_TM,PA,...,TE_005,TE_01,TE_02,TE_03,ST_SEA,WH,BF,IR,IX,RN_JUN
0,2024-09-21,01:00:00,202409210100,90,2,5.5,-9,-9.0,-9,1012.3,...,17.4,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
1,2024-09-21,01:00:00,202409210100,93,32,1.6,-9,-9.0,-9,1000.8,...,18.5,20.6,23.6,25.4,26.7,-9,-9.0,-9,4,1
2,2024-09-21,01:00:00,202409210100,95,36,3.7,-9,-9.0,-9,993.1,...,18.1,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
3,2024-09-21,01:00:00,202409210100,98,36,0.8,-9,-9.0,-9,995.8,...,19.0,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
4,2024-09-21,01:00:00,202409210100,99,7,3.5,-9,-9.0,-9,1006.3,...,19.7,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783,2024-09-23,23:00:00,202409232300,288,0,0.2,-9,-9.0,-9,1017.4,...,16.6,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
6784,2024-09-23,23:00:00,202409232300,289,34,0.5,-9,-9.0,-9,1003.6,...,17.9,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
6785,2024-09-23,23:00:00,202409232300,294,0,0.4,-9,-9.0,-9,1013.3,...,19.6,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
6786,2024-09-23,23:00:00,202409232300,295,2,1.8,-9,-9.0,-9,1013.1,...,18.9,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
6787,2024-09-23,23:00:00,202409232300,296,2,3.6,-9,-9.0,-9,1018.4,...,16.3,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,2

In [29]:
pm10_data['TM'] = pd.to_datetime(pm10_data['TM'])
weather_hourly['TM'] = pd.to_datetime(weather_hourly['TM'])

In [30]:
print('pm10 중복:', pm10_data.duplicated(['STN_ID','TM']).sum())
print('weather 중복:', weather_hourly.duplicated(['STN','TM']).sum())

pm10 중복: 1384
weather 중복: 0

In [26]:
pm10_data

             Date      Time            TM  STN_ID  PM10
0      2025-09-21  12:00:00  202509211200      90  29.0
1      2025-09-21  12:00:00  202509211200      93  15.0
2      2025-09-21  12:00:00  202509211200      94  44.0
3      2025-09-21  12:00:00  202509211200     100  15.0
4      2025-09-21  12:00:00  202509211200     102  20.0
...           ...       ...           ...     ...   ...
20709  2025-09-23  13:00:00  202509231300     229  42.0
20710  2025-09-23  13:00:00  202509231300     232   8.0
20711  2025-09-23  13:00:00  202509231300     268  18.0
20712  2025-09-23  13:00:00  202509231300     273  48.0
20713  2025-09-23  13:00:00  202509231300     399   8.0

[20714 rows x 5 columns]

In [27]:
merged = pd.merge(pm10_data, weather_hourly, left_on="STN_ID", right_on= "STN", how="inner")

In [28]:
merged

,Date_x,Time_x,TM_x,STN_ID,PM10,Date_y,Time_y,TM_y,STN,WD,...,TE_005,TE_01,TE_02,TE_03,ST_SEA,WH,BF,IR,IX,RN_JUN
0,2025-09-21,12:00:00,202509211200,90,29.0,2024-09-21,01:00:00,202409210100,90,2,...,17.4,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
1,2025-09-21,12:00:00,202509211200,90,29.0,2024-09-21,02:00:00,202409210200,90,5,...,17.5,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
2,2025-09-21,12:00:00,202509211200,90,29.0,2024-09-21,03:00:00,202409210300,90,5,...,17.4,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
3,2025-09-21,12:00:00,202509211200,90,29.0,2024-09-21,04:00:00,202409210400,90,2,...,17.1,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
4,2025-09-21,12:00:00,202509211200,90,29.0,2024-09-21,05:00:00,202409210500,90,2,...,17.2,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,1,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1186915,2025-09-23,13:00:00,202509231300,273,48.0,2024-09-23,19:00:00,202409231900,273,32,...,18.8,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
1186916,2025-09-23,13:00:00,202509231300,273,48.0,2024-09-23,20:00:00,202409232000,273,29,...,17.7,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
1186917,2025-09-23,13:00:00,202509231300,273,48.0,2024-09-23,21:00:00,202409232100,273,32,...,17.0,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
1186918,2025-09-23,13:00:00,202509231300,273,48.0,2024-09-23,22:00:00,202409232200,273,32,...,16.2,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9
1186919,2025-09-23,13:00:00,202509231300,273,48.0,2024-09-23,23:00:00,202409232300,273,32,...,15.7,-99.0,-99.0,-99.0,-99.0,-9,-9.0,-9,3,-9